.image {
    height: 100%;
    width: 100%; 
    background: 

      url('https://www.transparenttextures.com/patterns/escheresque.png');
    background-blend-mode: overlay; 
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
  }