<nav class="navbar" style="background-color: rgba(0, 0, 0, 0.8);">
  <div class="container-fluid d-flex justify-content-center align-items-center text-center">
    <h4 style="text-align: center;"><i class="bi bi-camera-reels"></i> <i> The C-Movie Log</i> <hr></h4>
  </div>
  <hr style="margin: 0; border-color: white;">
  <div class="container-fluid d-flex justify-content-center align-items-center text-center">
    <ul class="navbar-nav flex-row text-center">
      <li class="nav-item mr-2">
        <a class="nav-link" routerLink="/">
          <h4 style="color: white;">Home</h4>
          
          <i class="bi bi-house" style="color: red;"></i>
        </a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" routerLink="display">
          <h4 style="color: white;">Saved Movies</h4>
          <i class="bi bi-film" style="color: red;"></i>
        </a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" routerLink="create">
          <h4 style="color: white;">Register Movies</h4>
          <i class="bi bi-box-arrow-down" style="color: red;"></i><i class="bi bi-film"style="color: red;"></i>
        </a>
      </li>
      <!-- <li class="nav-item mr-2">
        <a class="nav-link" routerLink="about">
          <h4 style="color: white;">About Us</h4>
          <i class="bi bi-person-lines-fill" style="color: red;"></i>
        </a>
      </li> -->
    </ul>
  </div>
</nav>
